---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="webdesign.cl | ¡Diseños de páginas web increibles!">
	<Header/>

	<main class="max-w-4xl mx-auto">
		<section>
			<h2>Hola, soy Renato Herrera</h2>
			<h3>Desarrollador Frontend/Backend</h3>
		</section>
	</main>
</Layout>

<style>
	body {
  		font-family: 'Onest Variable', sans-serif;
	}
</style>
