---
---

<header class="flex justify-between max-w-4xl mx-auto">
    <div class="">
         <h2 class="">RE</h2>
    </div>

    <nav class="flex">
        <div class="">
            <a href="">Inicio</a>
            <a href="">Sobre mi</a>
            <a href="">Proyectos</a>
            <a href="">Tecnologias</a>
        </div>
    </nav>
    <div class="">
        <a href=""><img src="/src/components/icons/igicon.svg" alt=""></a>
        <a href=""><img src="/src/components/icons/wsicon.svg" alt=""></a>
        <a href="">Proyectos</a>
        <a href="">Tecnologias</a>
    </div>
</header>